<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CompetitionMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.Competition">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="competitionName" column="competition_name" jdbcType="VARCHAR"/>
            <result property="holdTime" column="hold_time" jdbcType="TIMESTAMP"/>
            <result property="holdPlace" column="hold_place" jdbcType="VARCHAR"/>
            <result property="competitionFormat" column="competition_format" jdbcType="VARCHAR"/>
            <result property="allowWatch" column="allow_watch" jdbcType="TINYINT"/>
            <result property="allowRegister" column="allow_register" jdbcType="TINYINT"/>
            <result property="minPlayerNum" column="min_player_num" jdbcType="INTEGER"/>
            <result property="maxPlayerNum" column="max_player_num" jdbcType="INTEGER"/>
            <result property="minPlayerAge" column="min_player_age" jdbcType="INTEGER"/>
            <result property="maxPlayerAge" column="max_player_age" jdbcType="INTEGER"/>
            <result property="minTtcLevel" column="min_TTC_level" jdbcType="VARCHAR"/>
            <result property="maxTtcLevel" column="max_TTC_level" jdbcType="VARCHAR"/>
            <result property="sexLimit" column="sex_limit" jdbcType="VARCHAR"/>
            <result property="competitionState" column="competition_state" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,competition_name,hold_time,
        hold_place,competition_format,allow_watch,
        allow_register,min_player_num,max_player_num,
        min_player_age,max_player_age,min_TTC_level,
        max_TTC_level,sex_limit,competition_state,
        cover
    </sql>
</mapper>
