<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TtcLevelMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.TtcLevel">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="ttcLevel" column="ttc_level" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ttc_level
    </sql>
</mapper>
